<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkSnap - Dashboard</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include("./partials/header") %>
    <main class="dashboard">
      <h1 class="page-heading">Dashboard</h1>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
