<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkSnap - Home</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="app">
    <h1>LinkSnap: URLs Shortner</h1>
    <div class="form">
      <form action="/shorten" method="post">
        <input
          type="text"
          name="url"
          id="url"
          placeholder="Long Url..."
          required
        />
        <button>Shorten</button>
      </form>
      <% if(messages && messages.error){ %>
      <p class="error"><%= messages.error %></p>
      <% } else if(messages && messages.success){ %>
      <p class="success"><%= messages.success %></p>
      <% } else { %>
      <p>Enter long url to generate short url.</p>
      <% } %>
    </div>
  </body>
</html>
