<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LinkSnap - Register</title>
    <link rel="stylesheet" href="/base.css" />
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="register">
      <% if(messages && messages.success){ %>
      <p class="alert success">Success: <%= messages.success %></p>
      <% } %> <% if(messages && messages.error){ %>
      <p class="alert error">Error: <%= messages.error %></p>
      <% } %>
      <form action="" class="form-card">
        <h2 class="form-heading">Register your account</h2>
        <div class="name input-field">
          <label for="name">Name *</label>
          <input
            type="text"
            name="name"
            id="name"
            required
            placeholder="Your Name..."
          />
        </div>
        <div class="email input-field">
          <label for="email">Email *</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            placeholder="Your Email..."
          />
        </div>
        <div class="password input-field">
          <label for="password">Password *</label>
          <input
            type="text"
            name="password"
            id="password"
            required
            placeholder="Your Password..."
          />
        </div>
        <button class="form-button">Register</button>
        <p class="note">If you have an account <a href="/login">log in</a>.</p>
      </form>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
